<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Student Forms</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
</head>

<body>
  <div>
    <div>
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <!-- <a class="navbar-brand" href="#">Navbar</a> -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <!-- <a class="nav-link active" aria-current="page" href="/dashboard.html">Sign out</a> -->
                <a href="/accounts/logout/" role="button" class="btn btn-outline-danger">Sign out</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <h1 class="text-center my-5">Department Dashboard</h1>
  <div class="container my-5">
    <!-- <table
        class="table table-hover"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      > -->
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Sl</th>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Depertment</th>
          <th scope="col">Subject Codes</th>
          <th scope="col">Previous Result</th>
          <th scope="col">Residence</th>
          <th scope="col">Phone</th>
          <th class="text-center" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for form in forms %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{form.student_id}}</td>
          <td>{{form.name}}</td>
          <td>{{form.department}}</td>
          <td>{{form.code1}}, {{form.code1}}, {{form.code1}} </td>
          <td class="text-center">{{form.result}}</td>
          <td>{{form.hall}}</td>
          <td>{{form.phone}}</td>
          <td>
            <a href="{% url 'view_final_form'  form.id %}">
              <button type="button" class="btn btn-primary">
                View
              </button>
            </a>
            <a href="{% url 'send' form.id %}">
              <button type="button" class="btn btn-primary">
                Send to hall
              </button>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="my-5">
    <!-- Button trigger modal -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="" method="post">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Student Id</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your ID"
                  value="45215458" />
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Student Name</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your name"
                  value="Hasabat Siam" />
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Course Codes</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                  placeholder="Enter your course codes. Ex: CSE-221, EEE-122" value="CSE-221, EEE-122"></textarea>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Department</label>
                <input type="email" class="form-control" id="exampleFormControlInput1"
                  placeholder="Enter your depertment name" value="Engineering" />
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Session</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your session"
                  value="2016-2017" />
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">PSR</label>
                <input type="email" class="form-control" id="exampleFormControlInput1"
                  placeholder="Enter you previous result" value="3.45" />
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Residence</label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                  <label class="form-check-label" for="flexRadioDefault1">
                    Residence
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked />
                  <label class="form-check-label" for="flexRadioDefault2">
                    Non Rasidence
                  </label>
                </div>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Phone</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your phone"
                  value="0183548547" />
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Attendance</label>
                <input type="email" class="form-control" id="exampleFormControlInput1"
                  placeholder="Enter Student Attendance" />
              </div>
              <div class="mb-3">
                <label for="formFile" class="form-label">Upload Signature</label>
                <input class="form-control" type="file" id="formFile" />
              </div>

              <button type="button" class="btn btn-primary">Submit</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</body>

</html>