<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
    <style>
        body {
            line-height: 2;
        }
    </style>
</head>

<body>
    <div class="d-flex flex-column justify-content-center align-items-center my-5">
        <div style="border: 3px solid black; width: 1000px;">

            <div class="d-flex flex-column justify-content-center align-items-center mt-5">
                <h2>চট্টগ্রাম বিশ্ববিদ্যালয়</h2>
                <img src="/cu-logo.png" alt="" width="100">
            </div>
            <div>
                <div class="d-flex justify-content-center mt-5">
                    <h5><span style="font-weight: bold;">2022</span> সালের <span style="font-weight: bold;">3rd</span>
                        সেমিস্টার বি.এসসি. ইঞ্জিনিয়ারিং পরীক্ষা । </h5>
                </div>
                <div class="d-flex flex-column justify-content-center mt-5 p-5">
                    <h3 style="text-align: center;">আবেদন পত্র</h3>
                    <div>
                        <p><span style="font-weight: bold;">পরীক্ষা নিয়ন্ত্রক</span><br> চট্টগ্রাম বিশ্ববিদ্যালয়,
                            চট্টগ্রাম ।<br>জনাব, <br>&emsp;&emsp;&emsp; আমি আসন্ন <span
                                style="font-weight: bold;">2022</span>
                            সালের
                            বি.এসসি। ইঞ্জিনিয়ারিং <span style="font-weight: bold;">3rd</span> সেমিস্টার পরীক্ষায় অংশ
                            গ্রহণের জন্য অনুমতি প্রার্থনা করছি । আমি অঙ্গীকার করছি যে, আমার অত্র পরীক্ষা সংক্রান্ত
                            ব্যাপারে সিন্ডিকেট বা তদ্‌কর্তৃক ক্ষমতা প্রদত্ত অফিসারের সিদ্বান্ত চূড়ান্ত বলে মেনে নিতে
                            থাকব ।</p>
                    </div>
                </div>


                <div class="row p-5">
                    <div class="col-8">
                        <p>অনার্স পত্রের শিরোনাম কোর্স নম্বরঃ</p>
                        <div class="row">
                            <div class="col-6 d-flex flex-column justify-content-center align-items-center">
                                <p>১ ......................................................</p>
                                <p>২ ......................................................</p>
                                <p>৩ ......................................................</p>
                                <p>৪ ......................................................</p>
                                <p>৫ ......................................................</p>
                            </div>
                            <div
                                class="col-6 d-f..........................................lex flex-column justify-content-center align-items-center">
                                <p>৬ ......................................................</p>
                                <p>৭ ......................................................</p>
                                <p>৮ ......................................................</p>
                                <p>৯ ......................................................</p>
                                <p>১০ ......................................................</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 d-flex flex-column justify-content-center align-items-center">
                        <p>আপনার একান্ত অনুগত</p><br><br>
                        <div class="w-75 border"></div>
                        <p>পরীক্ষার্থীর পূর্ণ স্বাক্ষর</p>
                    </div>
                </div>


                <div class="d-flex flex-column justify-content-center mt-5 p-5">
                    <h3 style="text-align: center;">সার্টিফিকেট</h3>
                    <div>
                        <p>
                            আমি প্রত্যয়ন করছি যে, উল্লেখিত ছাত্রের পাঠক্রম অনুশীলন সন্তোষজনক এবং আমি তার বি.এসসি
                            ইঞ্জিনিয়ারিং <span style="font-weight: bold;">3rd</span> সেমিস্টার
                            পরীক্ষায় অংশ গ্রহণের অনুমতির জন্য সুপারিশ করছি । আমি আরও যাচাই করে দেখছি যে, অনার্স পরীক্ষার
                            পত্রসমূহ সঠিকভাবে লিখিত আছে । <br> <br>অনার্স বিষয়ঃ <span
                                style="font-weight: bold;">CSE</span>
                            <br><br> &emsp;&emsp;&emsp;আমি প্রত্যায়ন করছি যে, পরীক্ষার্থী আবাসের শর্তাবলী পালন করেছে এবং
                            সে
                            সৎচরিত্রের অধিকারী । আমার জানামতে দরখাস্তের যাবতীয়
                            বিবরণ সত্য । দরখাস্তকারীকে <span style="font-weight: bold;">2022</span> সালের <span
                                style="font-weight: bold;">3rd</span> সেমিস্টার পরীক্ষায় অংশ গ্রহনের
                            অনুমতির জন্য সুপারিশ করছি ।
                        </p>
                    </div>
                </div>  

                <div class="d-flex flex-column justify-content-center mt-5 p-5">
                    <h3 style="text-align: center;">আবেদনকারীর তথ্য</h3>
                   
                    <div>
                        <div class="row">
                            <div class="col d-flex justify-content-center align-items-center">
                                <div class="d-flex flex-column justify-content-center align-item-start">
                                    <p>১। পরীক্ষার্থীর নামঃ <span style="font-weight: bold;">2022</span></p>
                                    <p>২। পিতা/স্বামীর নামঃ <span style="font-weight: bold;">2022</span></p>
                                    <p>৩। মাতার নামঃ <span style="font-weight: bold;">2022</span></p>
                                    <p>৪। অভিভাবকের নামঃ <span style="font-weight: bold;">2022</span></p>
                                    <p>৫। গ্রামঃ <span style="font-weight: bold;">2022</span></p>
                                    <p>৬। ডাকঘরঃ <span style="font-weight: bold;">2022</span></p>
                                </div>

                            </div>
                            <div class="col d-flex  justify-content-center align-items-center">
                                <div class="d-flex flex-column justify-content-center align-item-start">
                                    <p>৭। উপজেলা/থানাঃ <span style="font-weight: bold;">2022</span></p>
                                    <p>৮। জিলাঃ <span style="font-weight: bold;">2022</span></p>
                                    <p>৯। মোবাইল নংঃ <span style="font-weight: bold;">2022</p>
                                    <p>১০। জন্ম তারিখঃ <span style="font-weight: bold;">2022</p>
                                    <p>১১। জাতীয়তাঃ <span style="font-weight: bold;">2022</p>
                                    <p>১২। ধর্মঃ <span style="font-weight: bold;">2022</p>
                                </div>
                            </div>
                        </div>
                        <div class="row flex-column justify-content-center align-items-center mt-3">
                            <div class="d-flex flex-column justify-content-center align-item-start">
                                <p>১৩। চট্টগ্রাম বিশ্ববিদ্যালয় কর্তৃক ইস্যুকৃত
                                    আই.ডি. কার্ডের সত্যায়িত ফটোকপি সংযুক্ত করিতে হইবে ।</p>
                                <p>১৪। আবেদনকারীর <span style="font-weight: bold;">2022</span> সেমিস্টার পরীক্ষা পাশের
                                    সন <span style="font-weight: bold;">2022</span> আই.ডি. <span
                                        style="font-weight: bold;">2022</span></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-column justify-content-center p-5" >
                    <div class="border-top" style="border-bottom:3px solid black ;"></div>
                    <div class="d-flex flex-column justify-content-center align-items-center mt-5">
                        <h2>চট্টগ্রাম বিশ্ববিদ্যালয়</h2>
                        <img src="/cu-logo.png" alt="" width="100">
                    </div>
                    <div class="mt-3">
                        <h3 style="text-align: center;">প্রবেশ পত্র</h3>
                    </div>
                    <div class="d-flex justify-content-center mt-5">
                        <h5><span style="font-weight: bold;">2022</span> সালের <span
                                style="font-weight: bold;">3rd</span>
                            সেমিস্টার বি.এসসি. ইঞ্জিনিয়ারিং পরীক্ষা । </h5>
                    </div>

                    <div>
                        <p>অনার্স বিষয়ঃ <span style="font-weight: bold;">CSE</span></p>
                        <p>পরীক্ষারম্বের তারিখঃ <span style="font-weight: bold;">CSE</span></p>
                        <p>আই. ডি. নংঃ <span style="font-weight: bold;">CSE</span></p>
                        <p>শিক্ষাবর্ষঃ <span style="font-weight: bold;">CSE</span></p>
                        <p>পরীক্ষার্থীর নামঃ <span style="font-weight: bold;">CSE</span></p>
                        <p>পিতা/স্বামীর নামঃ <span style="font-weight: bold;">CSE</span></p>
                        <p>মাতার নামঃ <span style="font-weight: bold;">CSE</span></p>
                        <p>হলের নামঃ <span style="font-weight: bold;">CSE</span></p>
                     </div>



                </div>
            </div>
        </div>
        <div class="mt-3">
            <button type="button" id="download" class="btn btn-outline-warning">Download</button>
        </div>



        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
            <script>
                let button = document.getElementById('download')
                button.addEventListener('click', () => {
                    console.log('hello')
                    button.classList.add('d-none')
                    window.print()
                })
            </script>


</body>

</html>